
#divCarrito:hover #numeroCarrito{
    transform: scale(1.1);
    transition: transform 350ms;
}
#divCarrito:hover .fa-cart-arrow-down{
    transform: scale(1.1);
    transition: transform 350ms;
}
.fa-cart-arrow-down{
  padding-top: 7px;
}

#numeroCarrito{
    z-index: 15;
    position: absolute;
    top: 0;
    left: 18%;
    background: rgb(74, 8, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    }
    #divCarrito #carrito {
        display: none;
        width: 300px;
      }
    
      #divCarrito:hover #carrito , #divCarrito #carrito:hover{
        display: block;
        color: white;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 1;
        background: #17181b;
        padding: 20px;
        z-index: 35;
      }
    
      .carritoTitulo{
        text-align: center;
        font-size:20px;
      }
    
      #carrito thead th{
        border-bottom: 1px solid white; 
        z-index: 35;
      }
    
      #carrito{
        width: 250px;
        z-index: 35;
      }
#carrito tbody td{
  margin-top: 15px;
}
#listCarrito img{
    margin: 0;
    padding: 0;
}

hr{
  border-bottom: 2px solid #ccc;
}