    <div class=" ">
        <button class="btn py-2">
            Procesador  <i class="fas fa-angle-down"></i>
        </button>
    </div>
    <div class=" ">
        <button class="btn py-2">
            Procesador  <i class="fas fa-angle-down"></i>
        </button>
    </div>
    <div class=" ">
        <button class="btn py-2">
            Procesador  <i class="fas fa-angle-down"></i>
        </button>
    </div>
    <div class=" ">
        <button class="btn py-2">
            Procesador  <i class="fas fa-angle-down"></i>
        </button>
    </div>
    <div class=" ">
        <button class="btn py-2">
            Procesador  <i class="fas fa-angle-down"></i>
        </button>
    </div>
    <div class=" ">
        <button class="btn py-2">
            Procesador  <i class="fas fa-angle-down"></i>
        </button>
    </div>