nav{
    font-family: "Montserrat", sans-serif;
}
.nav1{
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 30;
    display: flex;
    /* grid-template-columns: 2fr 1fr; */
    color: white;
    justify-content: space-between;
    align-items: baseline
} 
.marca{
    padding-left: 5%;
}

.logo{
    /* background: rgba(255, 255, 255, 0.) */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 40px;
    z-index: 30;
    padding-top: 12px;
    padding-bottom: 0px;
    letter-spacing: 2px;
} 
.categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;  
}  
.categorias div:nth-child(2){
    padding-right: 38px;
}